*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-color: white;
    color: black;    
    width: 100%;
    padding: 10px 6% 10px 0;
    display: flex;
    justify-content: space-between;
}

header .brand{
    font-size: 2.5em;
    font-weight: bold;
    color: rgb(240, 172, 207);
    background-color: white;
    padding: 5px 1% 5px 6%;
    margin: 0;
}

nav ul li {
    list-style: none;
    margin: 20px;
    padding: 0;
    display: inline-block;
    font-weight: bold;
}

nav ul li a{
    color: rgb(240, 172, 207);
    text-decoration: none;
    font-size: 20px;
}

li >a:hover {
    text-decoration: underline;
    font-size: 20px;
}

.hero {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(https://cdn.shopify.com/s/files/1/0306/6419/6141/articles/coding_languages.png?v=1619126283);
    background-size: cover;
    background-position: center;
}

.about-me h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 43px;
    color: rgb(240, 172, 207);
}

.about-me h2 {
    color: rgb(240, 172, 207);
    text-align: center;
    margin:20px;
}

span{
    color: rgb(142, 98, 231);
}

.float-left{
    float: left;
    margin-right: 25px;
}

.about-me img{
    left: 100px;
    margin: 10px auto;
    max-width: 350px;
    max-height: 350px;
}

.first-text{
    text-align: center;
    font-size: 20px;
}

.projects h2{
    color: rgb(240, 172, 207);
}
/*-----------projects-----*/

